body{
    background-image: url(bgimage.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
form {
    text-align: center;
}
h1{
    text-align: center;
    color: red;
}
form .first{
    margin: 20px;
    font: small-caps;
    font-size: 14px;
    color: blue;
    height: 45px;
    margin-left:36px;
}
form .first:focus {
    background: yellow;
}
form .second{
    margin: 20px;
    font: small-caps;
    font-size: 14px;
    color: red;
    height: 45px;
}
form .second:focus {
    background: pink;
}
form #nut{
    height: 45px;
    width: 40px;
    background: yellow;
    color: red;
    font-size: 20px;
    margin-left:30px;
}
form label{
    font:bold;
    color: orange;
}
.login{
    text-align: center;
}
.formdk{
    outline: none;
    border: gray 1px solid;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0;
    width: 180px;
    height:25px;
    font-size:15px;
}
.formdk:focus{
    background-color: lightyellow;
    box-shadow: 0 0 5px red;
    border: solid 1px yellow;
}
.form-button{
    border:none;
    border-radius: 20px;
    background-color:white;
    color: orangered;
    padding: 8px 30px;
    font-weight:bold;
    box-shadow:inset 0 0 20px #7d5151;
    margin-top:6px;
}
.form-button:hover{
    box-shadow:inset 0 0 20px red;
    color: darkgray;
}